<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="/static/style.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    {% block meta %}
    {% endblock %}
</head>

<body class="with-sidebar" up-main>
    <header>
        <h1><a href="/">Feature Clustering</a></h1>
        <nav>
            <ul class="nav-links">
            {% block nav %}
            {% endblock %}
            </ul>
        </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
</body>
</html>
