{% extends "index.html" %}

{% from 'macros.html' import render_cluster, render_context_search, render_all_field_matches, render_search_results %}

{% block title %}Cluster {{ cluster_id }}{% endblock %}

{% block context_edit %}
<ul class="nav-links">
    <li><a href="/index/{{ index_id }}/cluster/{{ cluster_id }}">Cluster Overview</a></li>
    {% if prev_cluster_id or next_cluster_id %}
    <li><a href="/index/{{ index_id }}/cluster/{{ prev_cluster_id }}">Previous Cluster</li>
    <li><a href="/index/{{ index_id }}/cluster/{{ next_cluster_id }}">Next Cluster</li>
    {% endif %}
    <li><a href="/index/{{ index_id }}/?cluster_id={{ cluster_id }}">Pivot By Cluster</a></li>
</ul>

<details>
    <summary>Edit this cluster</summary>

    <form method="post" action="/index/{{ index_id }}/cluster/delete">
        <fieldset>
            <input type="hidden" name="return_cluster_id" value="{{ next_cluster_id }}">
            <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
            <button class="inline-button" type="submit">Delete and go to next cluster</button>
        </fieldset>
    </form>

    <form method="post" action="/index/{{ index_id }}/create_cluster_from_features">
        <fieldset>
            {% for field, values in render_features.items() %}
                <label for="{{ field }}-features">Select features from field: {{ field }}</label>
                <select name="{{ field }}" id="{{ field }}-features" multiple>
                    {% for str_value, html_value in values %}
                    <option value="{{ str_value }}">{{ html_value }}</option>
                    {% endfor %}
                </select>
            {% endfor %}

            <button type="submit">Create New Cluster From Selected</button>
        </fieldset>
    </form>

    <form method="post" action="/index/{{ index_id }}/create_clusters">
        <fieldset>
            <input type="hidden" name="from_clusters" value="{{ cluster_id }}">
            <input type="hidden" name="return_to" value="cluster">
            <ul>
                <li>
                    <label for="target_clusters">Split into how many clusters:</label>
                    <input id="target_clusters" name="target_clusters" type="number" value="2" />
                </li>
                <li>
                    <label for="iterations">Number of iterations of refinement after splitting:</label>
                    <input id="iterations" name="iterations" type="number" value="10" />
                </li>
            </ul>
        </fieldset>
        <button type="submit">Split Cluster</button>
    </form>
</details>

{% endblock %}
