{% extends "base.html" %}

{% block title %}Index Details{% endblock %}

{% from 'macros.html' import render_cluster %}

{% block content %}

<section>
    <h2>Summary of Indexed Fields</h2>

    <table>
        <thead>
            <tr>
                <th>Field</th>
                <th>Cardinality</th>
                <th>Minimum Value</th>
                <th>Maximum Value</th>
                <th>Positions Recorded</th>
            </tr>
        </thead>
        <tbody>
            {% for field, granularity, min_value, max_value, position_count in field_summary %}
            <tr>
                <td>{{ field }}</td>
                <td>{{ granularity }}</td>
                <td>{{ min_value }}</td>
                <td>{{ max_value }}</td>
                <td>{{ position_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <caption>Fields and value ranges present in this index.</caption>
    </table>
</section>

{% endblock %}
