{% extends "base.html" %}

{% from 'macros.html' import render_cluster, render_context_search, render_search_result %}

{% block title %}Feature Clustering{% endblock %}

{% block nav %}
                <li>
                    <form class="search-form" method="get" action="/index/{{ index_id }}/">
                        <label for="target_field">Search field:</label>
                        <select name="f" id="target_field">
                            {% for field in fields %}
                            <option value="{{ field }}">{{ field }}</option>
                            {% endfor %}
                        </select>
                        <label for="site-search">search for</label>
                        <input type="search" id="target_value" name="v" />
                        <button type="submit">Search</button>
                    </form>
                </li>
{% endblock %}

{% block content %}

{% block context_edit %}

<details>
    <summary>Edit Selected Clusters</summary>
    <form method="post" id="cluster_edit" action="/index/{{ index_id }}/cluster/delete">
        <label for="clusters">Refine selection into how many clusters:</label>
        <input id="clusters" name="clusters" type="number">
        <button type="submit" formaction="/index/{{ index_id }}/create_clusters" method="post">Refine Selected Clusters</button>
        <br>
        <button type="submit">Delete Clusters 🗑️</button>
        <button type="submit" formaction="/index/{{ index_id }}/cluster/merge" method="post">Merge Clusters</button>
    </form>
</details>

{% endblock %}

<div class="switcher">

    <div>
        <h2>Sample of {{ total_docs }} documents.</h2>
        <ul class="doc-list">
        {% for doc, matches, snippets in search_results %}
            <li>{{ render_search_result(doc, matches, snippets) }}</li>
        {% endfor %}
        </ul>
    </div>

    <ul class="cluster-list">

        {% for cluster_id, cluster_score, features in clusters %}
        <li>
            {{ render_cluster(index_id, cluster_id, features, cluster_score, highlight_cluster_id, highlight_feature, context=context) }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
